# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/


lambda/go/bootstrap
*.tar
.DS_Store
.idea
.vscode
*.iml

*.log
*.log.*

.scala-build/
.metals
target/

infrastructure/.terraform.lock.hcl
infrastructure/.terraform/providers/registry.terraform.io/hashicorp/aws/3.46.0/darwin_amd64
infrastructure/terraform.tfstate
infrastructure/terraform.tfstate.backup
infrastructure/.terraform
config-service/config/config-service.pb.go
config-service/config/config-service_grpc.pb.go
lambda/go/terraform/.terraform
lambda/go/terraform/.terraform.lock.hcl
run-stats-service/run-stats-service
